.a{color: rgba(0, 255, 255, 0.342);
    text-shadow: 2px 2px red;
}
.b{ color: blanchedalmond;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;;
    
}


.c{ 
    color: #6a5acd;
    border-style: none;
    text-shadow: 1px 1px 2px black, 0 0 25px #ee82ee, 0 0 5px darkblue;;}


    .v {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
      }
.e{
    color: 002B5B;
    text-decoration-line: underline;
    text-shadow: 1px 1px 2px 25316D, 0 0 25px FFB200 , 0 0 5px ;
    font-family: fantasy ; 
    font-size: 40px;
}
.f{
    color: rgba(0, 0, 0, 0.801) ;
    font-size: medium;
    text-shadow: 2px rgb(16, 16, 102) ;
    text-emphasis-color: black;
}
.g{color: navy;
    text-shadow: 2px 2px, olive;
    background: linear-gradient(135deg , red, blue 50% , white 50%);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
}
.body{
    background: rgb(6,0,36);
background: linear-gradient(196deg, rgba(6,0,36,0.44021358543417366) 17%, rgba(9,9,121,1) 61%, rgba(0,212,255,1) 100%);
}
/* * { 
    margin: 0;
    padding:0;
    box-sizing: border-box;

}
body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: #4f6d7a;
} */


/* button{
    cursor: pointer;
    width: 5px;
}
button:hover{
    background: #6a5acd;
    
} */